<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>checkintest</td><td>TestNgAnnotationEx.testPrintMessage1()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]<br/>TestNgAnnotationEx.testPrintMessage2()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]<br/></td></tr>
<tr><td>func test</td><td>TestNgAnnotationEx.testPrintMessage1()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]<br/></td></tr>
</table>
