<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgAnnotationEx.afterClass()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgAnnotationEx.afterMethod()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgAnnotationEx.afterMethod()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgAnnotationEx.afterMethod()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgAnnotationEx.afterMethod()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>458</td> <td title="&lt;&lt;TestNgAnnotationEx.afterSuite()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-211</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgAnnotationEx.beforeClass()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgAnnotationEx.beforeMethod()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgAnnotationEx.beforeMethod()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgAnnotationEx.beforeMethod()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgAnnotationEx.beforeMethod()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:30</td>   <td>-261</td> <td title="&gt;&gt;TestNgAnnotationEx.beforeSuite()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgAnnotationEx.testCase1()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">testCase1</td> 
  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgAnnotationEx.testCase2()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">testCase2</td> 
  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgAnnotationEx.testPrintMessage1()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">testPrintMessage1</td> 
  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/04/22 11:16:31</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgAnnotationEx.testPrintMessage2()[pri:0, instance:com.testng.demo.TestNgAnnotationEx@71423665]">testPrintMessage2</td> 
  <td>main@1354011814</td>   <td></td> </tr>
</table>
