<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RetryFailedTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8b466">  <td>18/02/27 23:27:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Test1()[pri:0, instance:Testcases.TestCases@3532ec19]">Test1</td> 
  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>18/02/27 23:27:15</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Test2()[pri:0, instance:Testcases.TestCases@3532ec19]">Test2</td> 
  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/02/27 23:27:48</td>   <td>32552</td> <td>&nbsp;</td><td title="&lt;&lt;FreeCRMTest.endReport()[pri:0, instance:com.testng.demo.FreeCRMTest@1ce92674]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/02/27 23:27:26</td>   <td>10377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeCRMTest.freeCrmTitleTest()[pri:0, instance:com.testng.demo.FreeCRMTest@1ce92674]">freeCrmTitleTest</td> 
  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/02/27 23:27:36</td>   <td>20830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeCRMTest.freemCRMLogoTest()[pri:0, instance:com.testng.demo.FreeCRMTest@1ce92674]">freemCRMLogoTest</td> 
  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/02/27 23:27:15</td>   <td>152</td> <td>&nbsp;</td><td title="&gt;&gt;FreeCRMTest.setExtent()[pri:0, instance:com.testng.demo.FreeCRMTest@1ce92674]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/02/27 23:27:15</td>   <td>278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FreeCRMTest.setup()[pri:0, instance:com.testng.demo.FreeCRMTest@1ce92674]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/02/27 23:27:27</td>   <td>12077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FreeCRMTest.setup()[pri:0, instance:com.testng.demo.FreeCRMTest@1ce92674]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/02/27 23:27:26</td>   <td>10425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FreeCRMTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.testng.demo.FreeCRMTest@1ce92674]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/02/27 23:27:46</td>   <td>30871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FreeCRMTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.testng.demo.FreeCRMTest@1ce92674]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1589683045</td>   <td></td> </tr>
</table>
